@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {

    background-image:url("../img/semanadevela.jpg");
    background-size: cover;
    background-color:rgba(70, 65, 65, 0.205);
    background-blend-mode: overlay;
}

a{ text-decoration:none;
}

main {
    text-align: center;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 17px;
    padding: 15px 150px;
}

header {
    font-family: 'Shadows Into Light', cursive;
    background-color: rgba(240, 240, 16, 0.555);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    color: white;
    padding: 20px;
}
 
h1 {
  transform: scale(1.1);
}

.video {
   padding-top: 30px;
   padding-bottom: 30px; 
}
.lista{
    font-size: 15px; 
    padding-right: 250px;
    padding-left: 250px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
    color: black;
    background-color: rgba(255, 255, 255, 0.411);
}

.img1{
    position: sticky;
   padding-top: 15px;
    width: 45px;
}

.img2{
    position: sticky;
    padding-top: 15px;
    width: 45px;
}
 
   header ul{
    display: flex;
    gap: 5px;
  }
  
  header ul li{
    list-style-type: none;
  }
  
  header li a{
    color: white;
    padding: 10px;
    border-radius: 9px;
    font-weight: bold;
    transition: all .3s ease-in-out;
  }
  
  header li a:hover{
    background-color: rgb(245, 189, 6);
    color: black;
  }

  label, option, select{
    display: block;
    
}

legend {
  margin-bottom: 10px;
}

select{
    margin: 0px auto 15px;
}



button{
    margin: 2% 0px;
}  